{% extends "site/layout_ajax.html" %}
{% set product = product|default('') %}
{% set action = action|default %}

{% block content %}

{% if status_code == 0 %}
    <span style="color:red">update ok</span>
{% endif  %}


{% if product == '' %}
    {% set _title = '' %}
{% else %}
    {% set _title = product.title %}
{% endif %}


{% if status_code %}
<span style="color:red" id="delete_message">
    {% if status_code == 1 %}
        Fill all data
    {% elif status_code == 2 %}
        Pusblished date es invalid
    {% elif status_code == 3 %}
        Choose image
    {% elif status_code == 4 %}
        Choose at last one category
    {% elif status_code == 5 %}
        Failed to save
    {% endif %}
</div>
{% endif %} 

<form method="post" enctype="multipart/form-data">
    <h2> {% if action == 'edit' %} Edit Product {% else %} Add Product {% endif %}  </h2>
    <br />
    <table width="100%" border="0">

    <tr>
        <td width="50%">

    <table width="120%" border="0">
        <tr>
            <td>Product Name</td>
            <td><input size="47" type='text' name='title' id="_title" value='{{ _title }}' /><td/>
        </tr>
        <tr>
            <td>Category</td>
            <td><select name="category">


                {% if action != 'edit' %}
    
                <option>--select--</option>
                

                {% endif %}

                {% for x in categories %}
                    <option value="{{ x.slug }}" {% if product.category == x.slug %}selected{% endif %} >{{ x.title }}&nbsp;&nbsp;&nbsp;
                {% endfor %}</select>
            <td/>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea cols="50" rows="5" name='description'>{{ product.description|default('') }}</textarea><td/>
        </tr>
        <tr>
            <td>Price</td>
            <td><input size="4" type='text' name='price' value='{{ product.cost|default('') }}' /><td/>
        </tr>
        <tr>
            <td>Duration</td>
            <td> 
                    <input type="radio" name="duration" value="7" {% if product.duration == 7 %} checked {% else %} {% endif %}  >&nbsp;1 Week &nbsp;
                    <input type="radio" name="duration" value="14" {% if product.duration == 14 %} checked {% else %} {% endif %} >&nbsp;2 Weeks &nbsp;
                    <input type="radio" name="duration" value="21" {% if product.duration == 21 %} checked {% else %} {% endif %} >&nbsp;3 Weeks &nbsp;


                    {% if action == 'edit' %}
                        ( {{ product.expires_at_remains|default('') }} )
                    {% endif %}
                    <br />
            <td/>
        </tr>
        {% if action == 'edit' %}
        <!--
        <tr>
            <td>How far will you travel?</td>
            <td><input size="4" type='text' name='will_travel' value='{{ product.will_travel|default('') }}' /><td/>
        </tr>
        -->


        {% if product.type == 'want' %}
        <!--
        <tr>
            <td>Allow retailers to see this post?</td>
            <td><input type="checkbox" value="1" name="allow_retailers" {% if product.allow_retailers == True or product.allow_retailers == 'True' %} checked {% else %} {% endif %} /></td>
        </tr>
        -->
        {% else %}
        <!--
        <tr>
            <td>Allow charities to see this post?</td>
            <td><input type="checkbox" value="1" name="allow_charities" {% if product.allow_charities == True or product.allow_charities == 'True' %} checked {% else %} {% endif %} /></td>
        </tr>
        <tr>
            <td>Donate this item now?</td>
            <td><input type="checkbox" value="1" name="donate_now" {% if product.donate_now == True or product.donate_now == 'True' %} checked {% else %} {% endif %} /><td/>
        </tr>
        -->

        {% endif %}
        
        <!--
        <tr>
            <td>Published date</td>
            <td><input type='text' size="20" name='published_at' value='{{ product.published_at|default('') }}'/><td/>
        </tr>
        -->

        <!--
        <tr>
            <td>Expires date</td>
            <td>{{ product.expire_show|default('') }}<td/>
        </tr>
        -->

        <!--
        <tr>
            <td>Published date</td>
            <td><input type='text' size="20" name='published_at' value='{{ product.published_at|default('') }}'/><td/>
        </tr>
        -->

        <!--
        <tr>
            <td>Location</td>
            <td><input size="47" type='text' name='location' value='{{ product.location|default('') }}' /><td/>
        </tr>
        -->
        <tr>
            <td>Audience</td>
            <td><select name="audience">
                {% for x in audiences %}
                    <option value="{{ x[0] }}" {% if product.audience == x[0] %} selected {% endif %} >{{ x[1] }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>

        {% endif %}
        <tr>
            <td>Type</td>
            <td><input type="radio" name="type" value="have" {% if product.type == 'have' %}checked{% endif %}>&nbsp;<font size="4">have</font>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="type" value="want" {% if product.type == 'want' %}checked{% endif %}>&nbsp;<font size="4">want</font>
            </td>
        </tr>


        <tr>
            <td>Image</td>
            <td><input type='file' name='filename'/><td/>
        </tr>




        <tr style="height:15px;"><td colspan="2"></td></tr>
        <tr><td></td>
            <td><input type='submit' value="Save" style="font-size:20px">&nbsp;&nbsp;
            <input type='button' value="Delete" id="btn_delete" style="font-size:20px"><td/>
                </tr>
            </table>
        </td>
        <td valign="right" align="right">
            <img src="{{ product.image }}" style="width:360px;350px;">
        </td>
    </tr>

                {% if action == 'esdit' %}
        <tr>
            <td>Notifications</td>
        </tr>
        <tr>
            <td>
                <table border="1">
                    <tr>
                        <td>Nro</td>
                        <td>User</td>
                        <td>Text</td>
                        <td>Date</td>
                    </tr>
                    <tr>
                        <td>Nro</td>
                        <td>User</td>
                        <td>Text</td>
                        <td>Date</td>
                    </tr>
                </table>
            </td>
        </tr>

        {% endif %}

    </table>
</form>


<script type="text/javascript" src="{{ handler.static_url('js/libs/jquery.js') }}"></script>    
<script type="text/javascript">
$("#btn_delete").click(function(){
    email = $('#email').val()
    password = $('#password').val()

    data = { email: email, password: password}

    $.ajax({
        type: 'post',
        dataType: 'json',
        url: '{{ handler.reverse_url("product_delete", product.id) }}',
        data: data,
        complete: function() {
          //loading.dialog('close');
        },
        success: function(r) {
            if (r && r.status_code === 0) {
                alert('product deleted')
                window.location.href = '{{ handler.reverse_url("home") }}'
            }else{
                if (r.status_code == 1){
                    $('#delete_message').html('error delete')
                }
            }
        }
    });
});
</script>


{% endblock %}
