<html>
    <head>
        <title></title>
        <meta charset="utf-8">

    <style type="text/css">
        th {
            font-size : 77%;
            font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
            color: #6D929B;
            border-right: 1px solid #C1DAD7;
            border-bottom: 1px solid #C1DAD7;
            border-top: 1px solid #C1DAD7;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: left;
            padding: 6px 6px 6px 12px;
            background: #CAE8EA;
        }

        th.nobg {
            border-top: 0;
            border-left: 0;
            border-right: 1px solid #C1DAD7;
            background: none;
        }

        th.spec {	
            border-left: 1px solid #C1DAD7;
            border-top: 0;
            background: #fff url(images/bullet1.gif) no-repeat;
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
        }

        th.specalt {
            border-left: 1px solid #C1DAD7;
            border-top: 0;
            background: #f5fafa url(images/bullet2.gif) no-repeat;
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
            color: #B4AA9D;
        }

        td {
            font-size : 70%;
            border-right: 1px solid #C1DAD7;
            border-bottom: 1px solid #C1DAD7;
            background: #fff;
            padding: 6px 6px 6px 12px;
            color: #6D929B;
        }


        td.alt {
            background: #F5FAFA;
            color: #B4AA9D;
        }
    </style>

    </head>
    </body>

<form>

    {{ status }}
Status:<select name="status">
    <option value="">[All]</option>
    <option value="active" {% if status == 'active' %}selected{% endif %} >active</option>
    <option value="inactive" {% if status == 'inactive' %}selected{% endif %} >inactive</option>
</select>

<input type="submit">
</form>


<br / >
<br / >

<table width="100%" border="1">
    <tr>
        <th><strong></strong></td>
        <th><strong></strong></td>
        <th><strong>email</strong></td>
        <th><strong>name</strong></td>
        <th><strong>lastname</strong></td>
        <th><strong>gender</strong></td>
        <!--
        <td><strong>score</strong></td>
        <td><strong>activation</strong></td>
        <td><strong>activation_passwd</strong></td>
        <td><strong>activation_passwd_facebook</strong></td>
        <td><strong>score</strong></td>
        -->
        <th><strong>created_at</strong></td>
        <th><strong>modified_at</strong></td>
        <th><strong>status</strong></td>
        <th><strong>facebook_id</strong></td>
    </tr>

    {% for x in items %}

    <tr>
        <td><a href="user/delete?id={{ x.id }}">[Delete]</a></td>
        <td><a href="user/edit/{{ x.id }}">[Edit]</a></td>
        <td>{{ x.email }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.lastname }}</td>
        <td>{{ x.gender }}</td>
        <!--
        <td>{{ x.score }}</td>
        <td>{{ x.activation }}</td>
        <td>{{ x.activation }}</td>
        <td>{{ x.activation_passwd }}</td>
        <td>{{ x.activation_passwd_facebook }}</td>
        <td>{{ x.score }}</td>
        -->
        <td>{{ x.created_at_f }}</td>
        <td>{{ x.modified_at }}</td>
        <td>{{ x.status }}</td>
        <td>{{ x.facebook_id }}</td>
    </tr>

    {% endfor %}
</table>

{% for x in pages %}
<a href="?page={{ x }}&status={{ status }}"> {{ x }}</a> |
{% endfor %}

</body>
</html>
