{% macro form_login(handler) %}
<form method="post" name="form_login" id="form_login" action="{{ handler.reverse_url('user_login') }}" data-redirect="{{ handler.reverse_url('home') }}" style="display: none">
  <div class="loader"></div>
  <div class="inner">
    {{ handler.xsrf_form_html() }}
    <h2 class="title">Sign In</h2>

    <div id="login_message"></div>
    <div class="row">
      <input class="input" id="email" name="email" type="text" value="" placeholder="Username" />
    </div>

    <div>
       <input class="input" id="password" name="email" type="password" value="" placeholder="Password" />
    </div>

    <div class="options">
      <a href="{{ handler.reverse_url('user_forgot_password') }}">Forgot Password?</a>
      <a class="last" href="{{ handler.reverse_url('user_login_facebook') }}">Connect via Facebook</a>
    </div>

    <button class="btn" type="submit">SUBMIT</button>
  </div>
</form>
{% endmacro %}

{% macro notifications(handler) %}
<div id="notifications" style="display: none">
  <ul class="inner">
    <li class="item">
      <p class="label">
        <strong>Matched Items: </strong> <a href="#">{{ handler.tot_matches_items }} NEW</a>
      </p>
    </li>

    <li class="item">
      <p class="label">
        <strong>Whis Lists:</strong>
      </p>

      {% for item  in handler.list_have %}
      <p class="sub-item">
        » <a href="{{ handler.reverse_url('product', item.slug) }}">Item</a> in &quot;I Have&quot; list updated
      </p>
      {% endfor %}

      {% for item  in handler.list_want %}
      <p class="sub-item">
        » <a href="{{ handler.reverse_url('product', item.slug) }}">Item</a> in &quot;I Want&quot; list updated
      </p>
      {% endfor %}
    </li>

    {% if handler.expire_items %}
    <li class="item">
        <p class="label">
        <strong>Expired Items:</strong>
        </p>
        
        {% for item in handler.expire_items %}
        <p class="sub-item">
          » <a href="{{ handler.reverse_url('product', item.slug) }}">{{ item.title }}</a>
        </p>
        {% endfor %}
    </li>
    {% endif %}
  </ul>
</div>
{% endmacro %}

{% macro leaderboard(handler, user_points) %}
<div id="leaderboard" style="display: none">
  <div class="inner">
    <table>
      {% for item in user_points %}
      <tr>
        <td>
          {{ item.user }}
        </td>
        <td>
          {{ item.total }}
        </td>
      </tr>
      {% endfor %}

    </table>

    <p class="viewall">
      <a href="">View All</a> »
    </p>
  </div>
</div>
{% endmacro %}

{% macro categories(handler, categories, current_category) %}
<div id="categories" style="display: none">
  <div class="inner">
    <div class="helper"></div>
    <a href="#categories" class="close js-showme">Close</a>

    <h2 class="title">Search Items, Categories &amp; Groups</h2>

    <form id="form_search" action="{{ handler.reverse_url('search') }}">
      <input class="input" name="q" value="" placeholder="items, keywords, locations" />
      <button type="submit" class="button">Search</button>
    </form>

    <h3 class="subtitle">Filter Categories</h3>
    <p>Click on any of the categories below to narrow your search.</p>

    <div class="columns">
      {% for row in categories|slice(3) %}
      <ul class="column">
        {% if not default_category %}
        {% set default_category = 1 %}
        <li class="{% if not current_category %}selected{% endif %}" ><a href="{{ handler.reverse_url('home') }}">General</a></li>
        {% endif %}

        {% for item in row %}
        <li class="{{ item.slug }} {{ current_category }} {% if current_category == item.slug %}selected{% endif %}">
          <a href="{{ handler.reverse_url('home_category', item.slug) }}">{{ item.title|capitalize }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
{% endmacro %}

{% macro form_additem(handler, categories) %}
<form id="form_additem" class="custom_form" action="{{ handler.reverse_url('product_add') }}" method="post" enctype="multipart/form-data" style="display: none">
  <div class="inner">
    <div class="helper"></div>
    <a href="#form_additem" class="close js-showme">Close</a>

    <h2 class="title">Add New Item</h2>
    <p>Fill out the form below to add a new prodcut to Vuulo.</p>

    <div class="fieldset">
      <div class="row">
        <label for="title" class="statement">Product Name</label>
        <div class="content">
          <input type="text" id="title" name="title" value="" required="true" />
        </div>
      </div>

      <div class="row">
        <label for="category" class="statement clearup">Category</label>
        <div class="content">
          <select id="category" name="category" required="true">
            <option value="">Choose</option>
            {% for item in categories %}
            <option value="{{ item.slug }}" {% if item.checked == True %}checked="checked"{% endif %} >{{ item.title }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="row">
        <label for="description" class="statement">Description</label>
        <div class="content">
          <textarea id="description" name="description" required="true"></textarea>
        </div>
      </div>

      <div class="row">
        <label for="price" class="statement">Price</label>
        <div class="content">
          <input type="text" id="price" name="price" value=""  required="true"/>
        </div>
      </div>

      <div class="row">
        <label for="duration" class="statement">Duration</label>
        <div class="content">
          <select id="duration" name="duration" required="true">
            <option value="">Choose</option>
            <option value="7">1 Week</option>
            <option value="14">2 Week</option>
            <option value="21">3 Week</option>
          </select>
        </div>
      </div>

      <div class="row">
        <label for="ihaveit" class="statement">Type</label>
        <div class="content">
          <div class="radio-content">
            <input type="radio" id="ihaveit" name="type" value="have" required="true" />
            <label class="radio-label" for="ihaveit">I have it</label>
          </div>

          <div class="radio-content">
            <input type="radio" id="iwantit" name="type" value="want" required="true" />
            <label class="radio-label" for="iwantit">I want it</label>
          </div>
        </div>
      </div>

      <div class="row">
        <label for="image" class="statement">Image</label>
        <div class="content">
          <input type="file" id="image" name="filename" value="" required="true" />
        </div>
      </div>
    </div>

    <div class="form-buttons">
      <button type="submit" class="btn btn-save">Save</button>
      <a href="#" class="btn btn-clear">Clear</a>
    </div>

  </div>
</form>
{% endmacro %}
