<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]--><!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"></html><![endif]--><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  {% import 'site/_macros.html' as macro %}
  <!--<![endif]-->
  <head>
    <title>VUULO, Tagline Goes Here</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">

    <link type="text/css" rel="StyleSheet" href="{{ handler.static_url('css/site.css') }}"/>

  </head>
  <body id="body">
    <div id="header" class="wrap">
      <h1><a id="logo" href="{{ handler.reverse_url('home') }}">VuuLo, Tagline Goes Here </a></h1>

      <div id="user_tools">
        {% if user %}
          <span class="item">Hello <strong>{{ handler.current_user.name }}</strong>!</span>
          <span class="separate">|</span>
          <span class="item">{{ handler.current_user.points.total }} pt{% if handler.current_user.points.total != 1 %}s{% endif %}</span>
          <span class="separate">|</span>
          <a href="#notifications" class="item notification-content js-showme">
            Notifications
            {% if tot_matches_items > 0 %}
            <span class="notification">{{ tot_matches_items }}</span>
            {% endif %}
          </a>
          <span class="separate">|</span>
          <a class="item js-showme" href="#leaderboard">Leaderboard</a>
          <span class="separate">|</span>
          <a class="item" href="{{ handler.reverse_url('user_logout') }}">Log out</a>
        {% elif not user %}
          <a class="item" href="{{ handler.reverse_url('user') }}">Create Account</a>
          <span class="separate">|</span>
          <a class="item js-showme" id="btn_login" href="#form_login">Sign In</a>
        {% endif %}
      </div>

      {{ macro.form_login(handler) }}

      {% if user %}
        {{ macro.notifications(handler) }}
        {{ macro.leaderboard(handler, user_points) }}
      {% endif %}
    </div>

    <div id="wrap">
      <div id="content" class="wrap">
        <div id="frame">
        {% block sidebar %}
        <div id="sidebar">
          {% if user %}
          <ul id="menu-main">
            <li><a id="menu-main-1" class="js-showme" href="#form_additem">Add New Item</a></li>
            <li><a id="menu-main-2" class="js-showme" href="#categories">Search Categories</a></li>
            <li><a id="menu-main-3" href="{{ handler.reverse_url('profile') }}">My Profile</a></li>
          </ul>

          <a id="main-match" href="#">CLICK TO MATCH</a>

          <ul id="menu-secundary">
            <li><a href="#">About Vuulo</a></li>
            <li><a href="#">Leaderboard</a></li>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
          {% else %}
          <ul id="menu-main">
            <li><a id="menu-main-1" class="js-showme" href="#form_login">Add New Item</a></li>
            <li><a id="menu-main-2" class="js-showme" href="#categories">Search Categories</a></li>
            <li><a id="menu-main-3" class="js-showme" href="#form_login">My Profile</a></li>
          </ul>

          <a id="main-match" class="js-showme" href="#form_login">CLICK TO MATCH</a>

          <ul id="menu-secundary">
            <li><a class="js-showme" href="#form_login">About Vuulo</a></li>
            <li><a class="js-showme" href="#form_login">Leaderboard</a></li>
            <li><a class="js-showme" href="#form_login">FAQ's</a></li>
            <li><a class="js-showme" href="#form_login">Feedback</a></li>
          </ul>
          {% endif %}

          {{ macro.categories(handler, categories, current_category) }}
          {{ macro.form_additem(handler, categories) }}
        </div>
        {% endblock sidebar %}

          <div id="main">
            {% block content %}{% endblock %}
          </div>
        </div>

        <div id="main-utils">
          <a id="main-util-tutorial" class="item" href="">
            <span class="text">Want to learn more about Vuulo? »</span>
            <span class="icon"></span>
          </a>
          <span class="separator item"></span>
          <a id="main-util-appstore" class="item" href="">
            <span class="text">Check out our FREE app in the iTunes app store »</span>
            <span class="icon"></span>
          </a>
        </div>
      </div>
    </div>
    <p id="footer">Copyright &copy;2012 All Rights Reserved</p>
    {% block javascript %}{% endblock %}

  </body>
</html>
