<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd"><!--[if lt IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"></html><![endif]--><!--[if IE 7]>
<html lang="en" class="no-js lt-ie9 lt-ie8"></html><![endif]--><!--[if IE 8]>
<html lang="en" class="no-js lt-ie9"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  {% import 'site/_macros.html' as macro %}
  <!--<![endif]-->
  <head>
    <title>VUULO, Tagline Goes Here</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="pragma" content="no-cache">

    <link type="text/css" rel="StyleSheet" href="{{ handler.static_url('css/site.css') }}"/>

  </head>
  <body id="body">
    <div id="header" class="wrap">
      <h1><a id="logo" href="{{ handler.reverse_url('home') }}">VuuLo, Tagline Goes Here </a></h1>

      <div id="user_tools">
        {% if user %}
          <span class="item">Hello <strong>{{ handler.current_user.name }}</strong>!</span>
          <span class="separate">|</span>
          <span class="item">124pts</span>
          <span class="separate">|</span>
          <span class="item">Notifications</span>
          <span class="separate">|</span>
          <a class="item" href="{{ handler.reverse_url('user_logout') }}">Leaderboard</a>
          <span class="separate">|</span>
          <a class="item" href="{{ handler.reverse_url('user_logout') }}">Log out</a>
        {% elif not user %}
          <a class="item" href="{{ handler.reverse_url('user') }}">Create Account</a>
          <span class="separate">|</span>
          <a class="item js-login-form" id="btn_login" href="{{ handler.reverse_url('user_login') }}" class="view-loginbox">Sign In</a>
        {% endif %}
      </div>
    </div>

    <div id="wrap">
      <div id="content" class="wrap">
        <div class="content-layout">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <p id="footer">Copyright &copy;2012 All Rights Reserved</p>
    {% block javascript %}{% endblock %}
  </body>
</html>

