{% extends "layout.html" %}


{% block content %}

<h1> Welcome to Vuulo</h1>

<h4> Set your profile</h4>



<a href="tutorial.html">Skip this step</a>

<h4><a href="tutorial.html">Watch tutorial</a></h4>



{% endblock %}
