// Login
#form_login
  @extends .dropdowns

  position absolute
  top 80px
  right 15px
  z-index 3

  width 183px

  a
    font-size 10px
    color #d7d7d7
    text-decoration underline

    &:hover
      color #EEE

  .inner
    padding 19px 14px

  .title
    font-size 14px
    color #FFF
    font-family helveticaLight
    margin 0 0 10px

  .input
    width 138px
    border 1px solid #909090
    padding 4px 7px
    font-size 11px
    outline none
    box-shadow inset 0 0 10px #CCC

  .row
    margin 0 0 13px

  .options
    padding 13px 0 0
    width 88px
    line-height 11px

    a
      display block
      margin 0 0 10px

    .last
      margin 0

  .btn
    background transparent url(../images/site/btn-submit.png) no-repeat
    display block
    width 66px
    height 22px
    text-indent -9999em
    border none
    cursor pointer
    position absolute
    bottom 16px
    right 14px

    &:active
      bottom 15px

  .error
    border-color red

  #login_message
    p
      background #660000
      padding 3px 10px
      margin 0 0 5px
      border-radius 5px

      font-family helveticaLight
      font-size 11px
      color #FFF

  &.wait
    .loader
      background transparent url(../images/site/loader-transparent.gif) no-repeat center
      background-color rgba(0, 0, 0, .7)
      width 100%
      height 100%
      position absolute
      top 0px
      left 0px
      border-radius 7px
      z-index 3
      
      .lt-ie8 &
        background-color #000
        opacity 0.7
