@import "../themes/smoothness/jquery-ui-1.8.21.custom.css";
/*
Hoja de estilos de aplicacion smarttweet para smarttv de LG
*/
@font-face {
  font-family: 'HelveticaNeue-Light';
  src: url("../fonts/HelveticaNeue-Light.eot?") format('eot'), url("../fonts/HelveticaNeue-Light.woff") format('woff'), url("../fonts/HelveticaNeue-Light.ttf") format('truetype'), url("../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light") format('svg');
}
@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url("../fonts/HelveticaNeue-Medium.eot?") format('eot'), url("../fonts/HelveticaNeue-Medium.woff") format('woff'), url("../fonts/HelveticaNeue-Medium.ttf") format('truetype'), url("../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium") format('svg');
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url("../fonts/HelveticaNeue-Bold.eot?") format('eot'), url("../fonts/HelveticaNeue-Bold.woff") format('woff'), url("../fonts/HelveticaNeue-Bold.ttf") format('truetype'), url("../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format('svg');
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url("../fonts/HelveticaNeue.eot?") format('eot'), url("../fonts/HelveticaNeue.woff") format('woff'), url("../fonts/HelveticaNeue.ttf") format('truetype'), url("../fonts/HelveticaNeue.svg#HelveticaNeue") format('svg');
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0;
}
h2 {
  font-size: 1.5em;
  margin: 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 0;
}
h5 {
  font-size: 0.83em;
  margin: 0;
}
h6 {
  font-size: 0.75em;
  margin: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
}
q:before,
q:after {
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 0;
  list-style: none;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #1f7fc4;
}
body {
  color: #888;
}
textarea {
  resize: none;
  outline: none;
}
.sp-main,
#menu-main a,
#main-match,
#home .filters .label,
#home .filters .icon,
#home #match-line-guide .icon,
#main-utils .separator,
#main-utils #main-util-tutorial .icon,
#main-utils #main-util-appstore .icon {
  background: transparent url("../images/site/home/sp_menu_main.png") no-repeat 0 0;
  display: block;
  text-indent: -9999em;
}
.sp-add_new_item,
#menu-main #menu-main-1 {
  background-position: 0 0;
  width: 189px;
  height: 34px;
}
.sp-appstore,
#main-utils #main-util-appstore .icon {
  background-position: 0 -84px;
  width: 130px;
  height: 45px;
}
.sp-arrow-1-1,
#home .filters .icon {
  background-position: 0 -179px;
  width: 14px;
  height: 11px;
}
.sp-match-end,
#home #match-line-guide .icon {
  background-position: 0 -240px;
  width: 28px;
  height: 80px;
}
.sp-match,
#main-match {
  background-position: 0 -370px;
  width: 268px;
  height: 80px;
}
.sp-my_profile,
#menu-main #menu-main-3 {
  background-position: 0 -500px;
  width: 189px;
  height: 34px;
}
.sp-search_categories,
#menu-main #menu-main-2 {
  background-position: 0 -584px;
  width: 189px;
  height: 34px;
}
.sp-separator,
#main-utils .separator {
  background-position: 0 -668px;
  width: 4px;
  height: 71px;
}
.sp-tab,
#home .filters .label {
  background-position: 0 -789px;
  width: 148px;
  height: 33px;
}
.sp-tutorial,
#main-utils #main-util-tutorial .icon {
  background-position: 0 -872px;
  width: 195px;
  height: 51px;
}
.sp-wheel,
#home .product-detail .info,
#home .product-detail .havethis,
#home .product-detail .wantthis {
  background: transparent url("../images/site/wheel/sp-wheel.png") no-repeat 0 0;
  display: block;
  text-indent: -99999em;
}
.sp-wheel-details,
#home .product-detail .info {
  background-position: 0 0;
  width: 21px;
  height: 21px;
}
.sp-wheel-have-it,
#home .product-detail .havethis {
  background-position: 0 -71px;
  width: 79px;
  height: 26px;
}
.sp-wheel-want-it,
#home .product-detail .wantthis {
  background-position: 0 -147px;
  width: 79px;
  height: 26px;
}
.wrap {
  width: 970px;
  margin: 0 auto;
}
.content-layout {
  padding: 20px;
}
.ui-widget {
  font-size: 0.8em;
}
.notification {
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #9d120a;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ee170d), color-stop(1, #9d120a));
  background: -webkit-linear-gradient(top, #ee170d 0%, #9d120a 100%);
  background: -moz-linear-gradient(top, #ee170d 0%, #9d120a 100%);
  background: -o-linear-gradient(top, #ee170d 0%, #9d120a 100%);
  background: -ms-linear-gradient(top, #ee170d 0%, #9d120a 100%);
  background: linear-gradient(top, #ee170d 0%, #9d120a 100%);
  padding: 0px 6px;
  color: #fff;
  -webkit-box-shadow: 0 0 5px #555;
  box-shadow: 0 0 5px #555;
  font-size: 11px;
}
.notification-content {
  position: relative;
}
.notification-content .notification {
  position: absolute;
  top: -20px;
  right: -9px;
}
.dropdowns,
#form_login,
#notifications,
#leaderboard {
  background: transparent url("../images/site/dropdown-bg-repeat.png") repeat;
  color: #fff;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #c2c2c2;
}
.dropdowns .inner,
#form_login .inner,
#notifications .inner,
#leaderboard .inner {
  background: transparent url("../images/site/dropdown-bg.png") repeat-x top;
}
.product_detail,
#home .product-detail {
  background: transparent url("../images/site/product-bg-repeat.png") repeat;
  color: #fff;
}
.product_detail .inner,
#home .product-detail .inner {
  background: transparent url("../images/site/product-bg.png") repeat;
}
.box,
#categories,
#form_additem {
  background: transparent url("../images/site/box-bg-repeat.png") repeat;
  color: #fff;
  width: 424px;
  -webkit-border-radius: 0 7px 7px 7px;
  border-radius: 0 7px 7px 7px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  font-size: 14px;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
.box .inner,
#categories .inner,
#form_additem .inner {
  background: transparent url("../images/site/box-bg.png") repeat-x bottom;
  padding: 17px 26px;
}
.box .helper,
#categories .helper,
#form_additem .helper {
  background: transparent url("../images/site/box-helper.png") no-repeat 0 0;
  display: block;
  position: absolute;
  top: 0;
  left: -32px;
  width: 32px;
  height: 38px;
}
.box .close,
#categories .close,
#form_additem .close {
  background: transparent url("../images/site/close.png") no-repeat 0 0;
  display: block;
  text-indent: -9999em;
  position: absolute;
  top: 18px;
  right: 20px;
  width: 57px;
  height: 19px;
}
.box .title,
#categories .title,
#form_additem .title {
  font-size: 17px;
  font-family: 'HelveticaNeue-Medium', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
.box .subtitle,
#categories .subtitle,
#form_additem .subtitle {
  font-size: 14px;
  margin: 0;
}
#body {
  background: #f6f6ee url("../images/site/bg_header.jpg") repeat-x 0 0;
  font-family: 'HelveticaNeue-Medium', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}
#header {
  position: relative;
  height: 135px;
  z-index: 3;
}
#logo {
  background: transparent url("../images/site/logo.png") no-repeat 0 0;
  position: absolute;
  top: 50px;
  left: 23px;
  display: block;
  width: 248px;
  height: 80px;
  text-indent: -9999em;
  font-size: 0.92em;
}
#user_tools {
  background: #fff;
  position: absolute;
  right: 15px;
  top: 63px;
  z-index: 4;
  padding: 3px 24px;
  color: #363636;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#user_tools .item {
  font-size: 0.7em;
  text-decoration: none;
  color: #363636;
}
#user_tools .separate {
  font-size: 0.7em;
  margin: 0 10px;
  color: #959595;
}
#footer {
  text-align: center;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 13px;
  padding: 15px 0 100px;
  border-top: 1px solid #f0f0d7;
}
#wrap {
  background: #fff url("../images/site/bg_content.jpg") repeat-x 0 0;
}
#frame {
  background: transparent url("../images/site/bg_main.jpg") no-repeat center 13px;
  padding: 48px 37px;
  zoom: 1;
}
#frame:before,
#frame:after {
  content: "";
  display: table;
}
#frame:after {
  clear: both;
}
#frame #sidebar {
  float: left;
  width: 248px;
  height: 456px;
  position: relative;
  z-index: 10;
}
#frame #main {
  float: right;
  width: 648px;
  height: 456px;
}
#menu-main {
  padding: 28px 0 0 34px;
}
#menu-main li {
  margin: 0 0 16px;
}
#main-match {
  margin: 20px 0 0;
  position: relative;
  z-index: 2;
}
#menu-secundary {
  padding: 14px 29px 0 45px;
  text-align: right;
}
#menu-secundary li {
  margin: 0 0 15px;
}
#menu-secundary a {
  color: #363634;
  text-shadow: 0 1px 0px #ecf1ed;
  font-size: 1.1em;
  text-decoration: none;
}
.sp-form,
.form-buttons .btn,
.select .icon,
.file .icon,
.check {
  background: url("../images/site/form/form-icons.png") top left no-repeat;
  display: block;
  text-indent: -9999em;
}
.sp-form-file-1-btn,
.file .icon {
  width: 74px;
  height: 24px;
  background-position: -10px -10px;
}
.sp-form-btn-save,
.form-buttons .btn-save {
  width: 66px;
  height: 22px;
  background-position: -10px -44px;
}
.sp-form-btn-clear,
.form-buttons .btn-clear {
  width: 66px;
  height: 22px;
  background-position: -10px -76px;
}
.sp-form-select-1-normal,
.select .icon {
  width: 17px;
  height: 17px;
  background-position: -10px -108px;
}
.sp-form-select-1-active,
.select:hover .icon {
  width: 17px;
  height: 17px;
  background-position: -37px -108px;
}
.sp-form-radio-1-normal,
.check {
  width: 16px;
  height: 16px;
  background-position: -36px -135px;
}
.sp-form-radio-1-check,
.checkbox-checked,
.radio-checked {
  width: 16px;
  height: 16px;
  background-position: -64px -108px;
}
.sp-form-radio-1-error,
.error-custom-radio {
  width: 16px;
  height: 16px;
  background-position: -10px -135px;
}
.theme-input-text,
input[type='text'],
textarea {
  background-color: #fff;
  border: 1px solid #909090;
  -webkit-box-shadow: inset 0 0 10px #d7d7d7;
  box-shadow: inset 0 0 10px #d7d7d7;
  color: #666;
  width: 248px;
  height: 18px;
}
input {
  outline: none;
}
textarea {
  height: 59px;
}
.row {
  margin: 0 0 7px;
  font-size: 11px;
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row .statement {
  float: left;
  padding: 2px 15px 0 0;
  width: 90px;
  text-align: right;
}
.row .clearup {
  padding-top: 0;
}
.row .content {
  zoom: 1;
  float: left;
  width: 256px;
}
.row .content:before,
.row .content:after {
  content: "";
  display: table;
}
.row .content:after {
  clear: both;
}
.row .radio-label {
  float: left;
  padding: 0 0 0 5px;
}
.row .radio-content {
  zoom: 1;
}
.row .radio-content:before,
.row .radio-content:after {
  content: "";
  display: table;
}
.row .radio-content:after {
  clear: both;
}
.form-buttons {
  zoom: 1;
  padding: 11px 0 0;
}
.form-buttons:before,
.form-buttons:after {
  content: "";
  display: table;
}
.form-buttons:after {
  clear: both;
}
.form-buttons .btn {
  float: right;
  border: none;
  margin: 0 14px 0 0;
}
.select,
.file {
  background: #fff;
  -webkit-box-shadow: inset 0 0 10px #d7d7d7;
  box-shadow: inset 0 0 10px #d7d7d7;
  border: 1px solid #909090;
  display: block;
  position: relative;
  padding-right: 30px;
}
.select .label,
.file .label {
  display: block;
  cursor: pointer;
  padding: 0 5px;
  float: none;
  line-height: 17px;
  font-size: 11px;
  color: #333;
  height: 17px;
  overflow: hidden;
}
.select .text,
.file .text {
  display: block;
  padding: 0 5px;
}
.select {
  margin: 0 0 2px;
  width: 100px;
}
.select .icon {
  position: absolute;
  top: 0px;
  right: 0px;
}
.select .label {
  padding: 0;
  width: 100px;
  overflow: hidden;
}
.select select {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  padding: 0;
  margin: 0;
}
.select:hover .icon {
  display: block;
}
.file {
  display: block;
  margin: 0 0 2px;
  width: 218px;
  overflow: hidden;
}
.file .icon {
  position: absolute;
  top: -1px;
  right: -1px;
}
.file .label {
  padding: 0;
  width: 100px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.file input {
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
}
.file:hover .icon {
  display: block;
}
.check {
  display: block;
  margin: 0 1px 0 0;
  position: relative;
  top: 2px;
  float: left;
}
.check input {
  position: absolute;
  left: -99999em;
}
.error-custom {
  border-color: #e80000 !important;
}
label.error {
  background: #ffd8de;
  float: left;
  clear: left;
  display: block;
  padding: 5px;
  width: auto !important;
  color: #e50000;
  position: relative;
  margin-top: 4px;
}
label.error:before {
  content: ' ';
  display: block;
  width: 9px;
  height: 4px;
  position: absolute;
  top: -4px;
  left: 3px;
}
#home {
  position: relative;
}
#home .loader {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../images/site/loader.gif") no-repeat center center;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
  z-index: 1;
}
#home .loading .dwbg {
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  filter: alpha(opacity=10);
}
#home .loading .loader {
  display: block;
}
#home .wheel {
  position: relative;
  float: left;
  width: 322px;
}
#home .dwl {
  display: none;
}
#home .dwwl {
  width: 321px;
  height: 456px;
  overflow: hidden;
  position: relative;
  zoom: 1;
}
#home .dwwl ul {
  position: absolute;
  top: 0;
  left: 14px;
}
#home .dww {
  position: relative;
  top: -80px;
}
#home .dwwo {
  background: transparent url("../images/site/wheel-bg-top.png") repeat-x top;
  position: absolute;
  top: 80px;
  left: 0;
  height: 127px;
  width: 100%;
}
#home .dwwol {
  background: transparent url("../images/site/wheel-bg-bottom.png") repeat-x bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 142px;
  width: 100%;
}
#home .dw-v {
  width: 293px;
  height: 202px;
  overflow: hidden;
}
#home .imgscroll {
  height: 192px;
  overflow: hidden;
  position: relative;
}
#home .imgscroll img {
  width: 293px;
}
#home .hover .product-detail {
  display: block;
}
#home .product-detail {
  display: none;
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 293px;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
#home .product-detail .inner {
  zoom: 1;
  padding: 10px 15px;
  min-height: 69px;
}
#home .product-detail .inner:before,
#home .product-detail .inner:after {
  content: "";
  display: table;
}
#home .product-detail .inner:after {
  clear: both;
}
#home .product-detail .title,
#home .product-detail .price {
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#home .product-detail .price {
  position: absolute;
  top: 10px;
  right: 15px;
  text-align: right;
}
#home .product-detail .category {
  font-size: 11px;
}
#home .product-detail .expire {
  font-size: 11px;
  display: block;
  float: left;
  padding: 5px 0 0;
  width: 151px;
}
#home .product-detail strong {
  font-family: 'HelveticaNeue-Bold', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
#home .product-detail .info {
  display: block;
  float: left;
  position: relative;
  top: 11px;
}
#home .product-detail .btn {
  display: block;
  float: right;
  position: relative;
  top: 10px;
}
#home .filters {
  position: absolute;
  top: -34px;
  left: 50%;
  z-index: 2;
  width: 149px;
  margin: 0 0 0 -82px;
}
#home .filters .label {
  position: relative;
  text-indent: 0;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  color: #363636;
}
#home .filters .text {
  padding: 0 20px 0 0;
}
#home .filters .icon {
  position: absolute;
  top: 14px;
  right: 15px;
}
#home .filters .filter {
  display: none;
  background: #fff;
  padding: 5px 10px 10px;
  -webkit-box-shadow: 0 1px 15px #999;
  box-shadow: 0 1px 15px #999;
  font-size: 14px;
  color: #666;
}
#home .filters .filter .item {
  cursor: pointer;
  line-height: 15px;
  margin: 0 0 7px;
  color: #aaa;
}
#home .filters .filter .item:hover {
  color: #666;
}
#home .filters .filter .active {
  color: #000;
}
#home #match-line-guide {
  background: transparent url("../images/site/bg_match_guide.png") repeat-x 0 0;
  position: absolute;
  top: 220px;
  left: 0;
  z-index: 1;
  height: 5px;
  width: 644px;
}
#home #match-line-guide .icon {
  float: right;
  position: relative;
  top: -38px;
}
#main-utils {
  zoom: 1;
  padding: 4px 71px 37px;
  position: relative;
}
#main-utils:before,
#main-utils:after {
  content: "";
  display: table;
}
#main-utils:after {
  clear: both;
}
#main-utils .item {
  text-decoration: none;
  color: #373737;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
#main-utils .item .text {
  float: left;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
}
#main-utils .item .icon {
  float: right;
}
#main-utils .separator {
  position: absolute;
  top: -9px;
  left: 50%;
  margin: 0 0 0 -2px;
}
#main-utils #main-util-tutorial {
  width: 386px;
  float: left;
}
#main-utils #main-util-tutorial .text {
  width: 171px;
}
#main-utils #main-util-appstore {
  width: 375px;
  float: right;
}
#main-utils #main-util-appstore .text {
  width: 223px;
}
#form_login {
  position: absolute;
  top: 80px;
  right: 15px;
  z-index: 3;
  width: 183px;
}
#form_login a {
  font-size: 10px;
  color: #d7d7d7;
  text-decoration: underline;
}
#form_login a:hover {
  color: #eee;
}
#form_login .inner {
  padding: 19px 14px;
}
#form_login .title {
  font-size: 14px;
  color: #fff;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin: 0 0 10px;
}
#form_login .input {
  width: 138px;
  border: 1px solid #909090;
  padding: 4px 7px;
  font-size: 11px;
  outline: none;
  -webkit-box-shadow: inset 0 0 10px #ccc;
  box-shadow: inset 0 0 10px #ccc;
}
#form_login .row {
  margin: 0 0 13px;
}
#form_login .options {
  padding: 13px 0 0;
  width: 88px;
  line-height: 11px;
}
#form_login .options a {
  display: block;
  margin: 0 0 10px;
}
#form_login .options .last {
  margin: 0;
}
#form_login .btn {
  background: transparent url("../images/site/btn-submit.png") no-repeat;
  display: block;
  width: 66px;
  height: 22px;
  text-indent: -9999em;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 16px;
  right: 14px;
}
#form_login .btn:active {
  bottom: 15px;
}
#form_login .error {
  border-color: #f00;
}
#form_login #login_message p {
  background: #600;
  padding: 3px 10px;
  margin: 0 0 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 11px;
  color: #fff;
}
#form_login.wait .loader {
  background: transparent url("../images/site/loader-transparent.gif") no-repeat center;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  z-index: 3;
}
.lt-ie8 #form_login.wait .loader {
  background-color: #000;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: alpha(opacity=70);
}
#notifications {
  position: absolute;
  top: 80px;
  right: 80px;
  z-index: 3;
  width: 205px;
  font-size: 12px;
  line-height: 15px;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #efefef;
}
#notifications a {
  color: #efefef;
  border-bottom: 1px solid #898989;
  text-decoration: none;
}
#notifications strong {
  font-family: 'HelveticaNeue-Medium', Arial, 'Liberation Sans', FreeSans, sans-serif;
  margin: 0 3px 0 0;
}
#notifications .inner {
  padding: 16px 7px 0px;
}
#notifications .item {
  border-bottom: 1px solid #959595;
  font-size: 12px;
  padding: 8px 10px 10px;
}
#notifications .last {
  border-bottom: none;
}
#notifications .sub-item {
  padding-left: 9px;
  margin-bottom: 5px;
}
#notifications .label {
  margin: 0 0 3px;
}
#leaderboard {
  position: absolute;
  top: 80px;
  right: 42px;
  z-index: 3;
  width: 148px;
  font-size: 12px;
  line-height: 15px;
  font-family: 'HelveticaNeue-Light', Arial, 'Liberation Sans', FreeSans, sans-serif;
  color: #efefef;
}
#leaderboard a {
  color: #efefef;
  border-bottom: 1px solid #898989;
  text-decoration: none;
}
#leaderboard strong {
  font-family: 'HelveticaNeue-Medium', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
#leaderboard table {
  width: 100%;
}
#leaderboard td {
  padding: 4px 0;
}
#leaderboard .inner {
  padding: 23px 17px 19px;
}
#leaderboard .viewall {
  padding: 5px 0;
  text-align: right;
}
#categories {
  position: absolute;
  top: 77px;
  left: 249px;
  z-index: 10;
}
#categories p {
  margin: 0;
}
#categories a {
  color: #fff;
  text-decoration: none;
}
#categories li {
  font-size: 11px;
  margin: 0;
  padding: 0 10px 0 0;
}
#categories .columns {
  zoom: 1;
  padding: 12px 0 0;
}
#categories .columns:before,
#categories .columns:after {
  content: "";
  display: table;
}
#categories .columns:after {
  clear: both;
}
#categories .column {
  float: left;
  width: 123px;
  margin: 0;
}
#categories .selected {
  background: transparent url("../images/site/category-selected.png") no-repeat 0 center;
  padding-left: 14px;
}
.lt-ie8 #categories.title {
  font-size: 16px;
}
#form_search {
  background: transparent url("../images/site/search-bg.png") no-repeat 0 0;
  margin: 13px 0 21px;
  width: 344px;
  height: 32px;
  position: relative;
}
#form_search .input {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 235px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 12px;
  outline: none;
}
#form_search .button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  display: block;
  text-indent: -9999em;
  width: 79px;
  height: 32px;
  position: absolute;
  top: 0;
  right: 0;
}
#form_additem {
  position: absolute;
  top: 27px;
  left: 249px;
  z-index: 10;
  width: 440px;
}
#form_additem p {
  margin: 0;
}
#form_additem a {
  color: #fff;
  text-decoration: none;
}
#form_additem .fieldset {
  padding: 21px 0 0;
}
#form_additem #price,
#form_additem #duration {
  width: 85px;
}
#form_additem .radio-content {
  float: left;
  width: 32%;
}
