//-------------------------------------------
// campos de formularios
//-------------------------------------------
.sp-form
  background: url(../images/site/form/form-icons.png) top left no-repeat
  display block
  text-indent -9999em

.sp-form-file-1-btn
  width: 74px
  height: 24px
  background-position: -10px -10px

.sp-form-btn-save
  width: 66px
  height: 22px
  background-position: -10px -44px

.sp-form-btn-clear
  width: 66px
  height: 22px
  background-position: -10px -76px

.sp-form-select-1-normal
  width: 17px
  height: 17px
  background-position: -10px -108px

.sp-form-select-1-active
  width: 17px
  height: 17px
  background-position: -37px -108px

.sp-form-radio-1-normal
  width: 16px
  height: 16px
  background-position: -36px -135px

.sp-form-radio-1-check
  width: 16px
  height: 16px
  background-position: -64px -108px

.sp-form-radio-1-error
  width: 16px
  height: 16px
  background-position: -10px -135px




.theme-input-text
  background-color #FFF
  border 1px solid #909090
  box-shadow inset 0 0 10px #d7d7d7
  color #666
  width 248px
  height 18px

input
  outline none

input[type='text'],
textarea
  @extend .theme-input-text

textarea
  height 59px

// layout
.row
  margin 0 0 7px
  font-size 11px
  clearfix()

  .statement
    float left
    padding 2px 15px 0 0
    width 90px
    text-align right

  .clearup
    padding-top 0

  .content
    clearfix()
    float left
    width 256px

  .radio-label
    float left
    padding 0 0 0 5px

  .radio-content
    clearfix()

// buttons
.form-buttons
  clearfix()
  padding 11px 0 0

  .btn
    @extend .sp-form
    float right
    border none
    margin 0 14px 0 0

  .btn-save
    @extend .sp-form-btn-save

  .btn-clear
    @extend .sp-form-btn-clear

// campos select y file
.select,
.file
  background #FFF
  box-shadow inset 0 0 10px #d7d7d7
  border 1px solid #909090
  display block
  position relative
  padding-right 30px

  .label
    display block
    cursor pointer
    padding 0 5px
    float none
    line-height 17px
    font-size 11px
    color #333
    height 17px
    overflow hidden

  .text
    display block
    padding 0 5px

.select
  margin 0 0 2px
  width 100px

  .icon
    @extend .sp-form
    @extend .sp-form-select-1-normal
    position absolute
    top 0px
    right 0px

  .label
    padding 0
    width 100px
    overflow hidden

  select
    position absolute
    top 0
    left 0
    opacity 0
    padding 0
    margin 0
  
  &:hover
    .icon
      @extend .sp-form-select-1-active
      display block


.file
  display block
  margin 0 0 2px
  width 218px
  overflow hidden

  .icon
    @extend .sp-form
    @extend .sp-form-file-1-btn
    position absolute
    top -1px
    right -1px

  .label
    padding 0
    width 100px
    height 20px
    line-height 20px
    overflow hidden

  input
    opacity 0
    position absolute
    top 0
    left 0

  &:hover
    .icon
      //@extend .icon-arrow-1-4
      display block

// campos radio y checkbox
.check
  @extend .sp-form
  @extend .sp-form-radio-1-normal

  display block
  margin 0 1px 0 0
  position relative
  top 2px

  float left

  input
    position absolute
    left -99999em

.checkbox-checked
  @extend .sp-form-radio-1-check

.radio-checked
  @extend .sp-form-radio-1-check

.error-custom
  border-color #E80000 !important

.error-custom-radio
  @extend .sp-form-radio-1-error

label.error
  background #ffd8de
  float left
  clear left
  display block
  padding 5px
  width auto !important
  color #E50000
  position relative
  margin-top 4px

  &:before
    //@extend .icon
    //@extend .icon-arrow-error-2
    content ' '
    display block
    width: 9px
    height: 4px

    position absolute
    top -4px
    left 3px




