//-------------------------------------------------------------------------
// main 
//-------------------------------------------------------------------------
.sp-main
  background transparent url(../images/site/home/sp_menu_main.png) no-repeat 0 0
  display block
  text-indent -9999em

.sp-add_new_item
	 background-position 0 0
	 width 189px
	 height 34px
	  
.sp-appstore
	 background-position 0 -84px
	 width 130px
	 height 45px
	  
.sp-arrow-1-1
	 background-position 0 -179px
	 width 14px
	 height 11px
	  
.sp-match-end
	 background-position 0 -240px
	 width 28px
	 height 80px
	  
.sp-match
	 background-position 0 -370px
	 width 268px
	 height 80px
	  
.sp-my_profile
	 background-position 0 -500px
	 width 189px
	 height 34px
	  
.sp-search_categories
	 background-position 0 -584px
	 width 189px
	 height 34px
	  
.sp-separator
	 background-position 0 -668px
	 width 4px
	 height 71px
	  
.sp-tab
	 background-position 0 -789px
	 width 148px
	 height 33px
	  
.sp-tutorial
	 background-position 0 -872px
	 width 195px
	 height 51px
	  

//-------------------------------------------------------------------------
// wheels
//-------------------------------------------------------------------------
.sp-wheel
  background transparent url(../images/site/wheel/sp-wheel.png) no-repeat 0 0
  display block
  text-indent -99999em

.sp-wheel-details
	 background-position 0 0
	 width 21px
	 height 21px
	  
.sp-wheel-have-it
	 background-position 0 -71px
	 width 79px
	 height 26px
	  
.sp-wheel-want-it
	 background-position 0 -147px
	 width 79px
	 height 26px
