@import "../themes/smoothness/jquery-ui-1.8.21.custom.css"
/*
Hoja de estilos de aplicacion smarttweet para smarttv de LG
*/
@font-face
  font-family: 'HelveticaNeue-Light'
  src: url('../fonts/HelveticaNeue-Light.eot?') format('eot'), 
	     url('../fonts/HelveticaNeue-Light.woff') format('woff'), 
	     url('../fonts/HelveticaNeue-Light.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg')

@font-face
  font-family: 'HelveticaNeue-Medium'
  src: url('../fonts/HelveticaNeue-Medium.eot?') format('eot'), 
	     url('../fonts/HelveticaNeue-Medium.woff') format('woff'), 
	     url('../fonts/HelveticaNeue-Medium.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg')

@font-face
  font-family: 'HelveticaNeue-Bold'
  src: url('../fonts/HelveticaNeue-Bold.eot?') format('eot'), 
	     url('../fonts/HelveticaNeue-Bold.woff') format('woff'), 
	     url('../fonts/HelveticaNeue-Bold.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg')

@font-face
  font-family: 'HelveticaNeue'
  src: url('../fonts/HelveticaNeue.eot?') format('eot'), 
	     url('../fonts/HelveticaNeue.woff') format('woff'), 
	     url('../fonts/HelveticaNeue.ttf')  format('truetype'),
	     url('../fonts/HelveticaNeue.svg#HelveticaNeue') format('svg')

// font family vars
helveticaFamily = Arial, 'Liberation Sans', FreeSans, sans-serif;
helveticaBold = 'HelveticaNeue-Bold', helveticaFamily;
helveticaLight = 'HelveticaNeue-Light', helveticaFamily;
helveticaMedium = 'HelveticaNeue-Medium', helveticaFamily;
helvetica = 'HelveticaNeue', helveticaFamily;

@import 'nib'
@import 'site.reset'
@import 'site.sprite'


@import 'site.class'
@import 'site.main'
@import 'site.form'

// modules
@import 'site.home'
//@import 'site.old'
@import 'site.login'
@import 'site.notifications'
@import 'site.leaderboard'
@import 'site.categories'
@import 'site.additem'

