//-------------------------------------------------------------------------
// main 
//-------------------------------------------------------------------------
#body
  background #F6F6EE url(../images/site/bg_header.jpg) repeat-x 0 0
  font-family helveticaMedium
  font-size 1em
  line-height 1.2em

//-------------------------------------------------------------------------
// header 
//-------------------------------------------------------------------------
#header
  position relative
  height 135px
  z-index 3

#logo
  background transparent url(../images/site/logo.png) no-repeat 0 0

  position absolute
  top 50px
  left 23px

  display block
  width 248px
  height 80px

  text-indent -9999em
  font-size 0.92em

#user_tools
  background #FFF

  position absolute
  right 15px
  top 63px
  z-index 4

  padding 3px 24px
  color #363636

  border-radius 10px

  .item
    font-size 0.7em
    text-decoration none
    color #363636

  .separate
    font-size 0.7em
    margin 0 10px
    color #959595

//-------------------------------------------------------------------------
// footer 
//-------------------------------------------------------------------------
#footer
  text-align center
  font-family helveticaLight
  font-size 13px
  padding 15px 0 100px
  border-top 1px solid #F0F0D7

//-------------------------------------------------------------------------
// contenido 
//-------------------------------------------------------------------------
#wrap
  background #FFF url(../images/site/bg_content.jpg) repeat-x 0 0

//-------------------------------------------------------------------------
// content 
//-------------------------------------------------------------------------
#frame
  background transparent url(../images/site/bg_main.jpg) no-repeat center 13px
  padding 48px 37px
  clearfix()

  #sidebar
    float left
    width 248px
    height 456px
    position relative
    z-index 10

  #main
    float right
    width 648px
    height 456px

#menu-main
  padding 28px 0 0 34px

  li
    margin 0 0 16px

  a
    @extends .sp-main

  #menu-main-1
    @extends .sp-add_new_item

  #menu-main-2
    @extends .sp-search_categories

  #menu-main-3
    @extends .sp-my_profile

#main-match
  @extends .sp-main
  @extends .sp-match
  margin 20px 0 0
  position relative
  z-index 2

#menu-secundary
  padding 14px 29px 0 45px
  text-align right

  li
    margin 0 0 15px

  a
    color #363634
    text-shadow 0 1px 0px #ECF1ED
    font-size 1.1em
    text-decoration none
