#notifications
  @extends .dropdowns

  position absolute
  top 80px
  right 80px
  z-index 3

  width 205px

  font-size 12px
  line-height 15px

  font-family helveticaLight
  color #EFEFEF

  a
    color #EFEFEF
    border-bottom 1px solid #898989
    text-decoration none

  strong
    font-family helveticaMedium
    margin 0 3px 0 0

  .inner
    padding 16px 7px 0px

  .item
    border-bottom 1px solid #959595
    font-size 12px
    padding 8px 10px 10px

  .last
    border-bottom none

  .sub-item
    padding-left 9px
    margin-bottom 5px

  .label
    margin 0 0 3px
