@css {
#main-product{width:602px;float:left}
.clear{clear:both}
#user-thumb{height:80px;}
.user-photo{float:left;width:60px;height:60px;margin-right:20px}
.user-name{float:left;font-size:17px;padding-top:18px;color:#333}
.box-user .box-user-img{float:left;margin-right:12px}
#img-product{margin-bottom:12px;max-height:400px;max-width:600px}
#sidebar-product{width:230px;float:right;padding-top:100px}
  
}
