//-------------------------------------------------------------------------
//
// class 
//
//-------------------------------------------------------------------------
.wrap
  width 970px
  margin 0 auto

.content-layout
  padding 20px

//-------------------------------------------------------------------------
// dialog 
//-------------------------------------------------------------------------
.ui-widget
  font-size 0.8em

.notification
  border-radius 100px
  background #9D120A
  background linear-gradient(#EE170D 0%, #9D120A 100%) 
  padding 0px 6px
  color #FFF
  box-shadow 0 0 5px #555 
  font-size 11px

.notification-content
  position relative

  .notification
    position absolute
    top -20px
    right -9px

//-------------------------------------------------------------------------
// dropdowns 
//-------------------------------------------------------------------------
.dropdowns
  background transparent url(../images/site/dropdown-bg-repeat.png) repeat
  color #FFF

  border-radius 7px
  border 1px solid #c2c2c2

  .inner
    background transparent url(../images/site/dropdown-bg.png) repeat-x top


.product_detail
  background transparent url(../images/site/product-bg-repeat.png) repeat
  color #FFF

  .inner
    background transparent url(../images/site/product-bg.png) repeat

.box
  background transparent url(../images/site/box-bg-repeat.png) repeat
  color #FFF
  width 424px

  border-radius 0 7px 7px 7px
  box-shadow 0 0 10px #000

  font-size 14px
  font-family helveticaLight

  .inner
    background transparent url(../images/site/box-bg.png) repeat-x bottom
    padding 17px 26px

  .helper
    background transparent url(../images/site/box-helper.png) no-repeat 0 0
    display block
    position absolute
    top 0
    left -32px
    
    width 32px
    height 38px

  .close
    background transparent url(../images/site/close.png) no-repeat 0 0
    display block
    text-indent -9999em

    position absolute
    top 18px
    right 20px

    width 57px
    height 19px

  .title
    font-size 17px
    font-family helveticaMedium

  .subtitle
    font-size 14px
    margin 0
