#leaderboard
  @extends .dropdowns

  position absolute
  top 80px
  right 42px
  z-index 3

  width 148px

  font-size 12px
  line-height 15px

  font-family helveticaLight
  color #EFEFEF

  a
    color #EFEFEF
    border-bottom 1px solid #898989
    text-decoration none

  strong
    font-family helveticaMedium

  table
    width 100%

  td
    padding 4px 0

  .inner
    padding 23px 17px 19px

  .viewall
    padding 5px 0
    text-align right

