//-------------------------------------------------------------------------
// home
//-------------------------------------------------------------------------
#home
  position relative

  .loader
    display none
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background #000 url(../images/site/loader.gif) no-repeat center center
    opacity 0.4
    z-index 1

  .loading
    .dwbg
      opacity 0.1

    .loader
      display block

  .wheel
    position relative
    float left
    width 322px

  // titulo
  .dwl
    display none

  // contenedor de items
  .dwwl
    width 321px
    height 456px
    overflow hidden
    position relative
    zoom 1

    ul
      position absolute
      top 0
      left 14px

  .dww
    position relative
    //top -64px
    top -80px

  .dwwo
    background transparent url(../images/site/wheel-bg-top.png) repeat-x top
    position absolute
    top 80px
    left 0
    height 127px
    width 100%

  .dwwol
    background transparent url(../images/site/wheel-bg-bottom.png) repeat-x bottom
    position absolute
    bottom 0
    left 0
    //height 29%
    height 142px
    width 100%

  // item
  .dw-v
    width 293px
    //height 117px
    height 202px
    overflow hidden

  .imgscroll
    //height 107px
    height 192px
    overflow hidden
    position relative

    img
      width 293px

  .hover
    .product-detail
      display block

  // product detail
  .product-detail
    @extend .product_detail

    display none
    border none

    position absolute
    bottom 0
    left 0

    width 293px
    font-size 13px
    line-height 15px

    color #FFF

    font-family helveticaLight

    .inner
      clearfix()
      padding 10px 15px
      min-height 69px

    .title,
    .price
      font-size 16px
      line-height 18px
      color #FFF
      text-decoration none
      font-weight bold

    .price
      position absolute
      top 10px
      right 15px
      text-align right

    .category
      font-size 11px

    .expire
      font-size 11px
      display block
      float left
      padding 5px 0 0
      width 151px

    strong
      font-family helveticaBold

    .info
      @extend .sp-wheel
      @extend .sp-wheel-details

      display block
      float left

      position relative
      top 11px

    .btn
      display block
      float right
      position relative
      top 10px

    .havethis
      @extend .sp-wheel
      @extend .sp-wheel-have-it

    .wantthis
      @extend .sp-wheel
      @extend .sp-wheel-want-it

  .filters
    position absolute
    top -34px
    left 50%
    z-index 2

    width 149px
    margin 0 0 0 -82px

    .label
      position relative

      @extends .sp-main
      @extends .sp-tab
      text-indent 0

      font-family helveticaLight

      font-size 18px
      line-height 35px
      text-align center
      text-decoration none
      color #363636


    .text
      padding 0 20px 0 0

    .icon
      @extends .sp-main
      @extends .sp-arrow-1-1
      position absolute
      top 14px
      right 15px

    .filter
      display none

      background #FFF
      padding 5px 10px 10px
      box-shadow 0 1px 15px #999

      font-size 14px
      color #666

      .item
        cursor pointer
        line-height 15px
        margin 0 0 7px
        color #AAA

        &:hover
          color #666

      .active
        color #000

  #match-line-guide
    background transparent url(../images/site/bg_match_guide.png) repeat-x 0 0

    position absolute
    top 220px
    left 0
    z-index 1

    height 5px
    width 644px

    .icon
      @extends .sp-main
      @extends .sp-match-end
      float right
      position relative
      top -38px

#main-utils
  clearfix()
  padding 4px 71px 37px
  position relative

  .item
    text-decoration none
    color #373737
    font-family helveticaLight

    .text
      float left
      padding 0
      font-size 18px
      line-height 22px
      text-align right

    .icon
      float right

  .separator
    @extend .sp-main
    @extend .sp-separator
    position absolute
    top -9px
    left 50%
    margin 0 0 0 -2px

  #main-util-tutorial
    width 386px
    float left

    .text
      width 171px

    .icon
      @extend .sp-main
      @extend .sp-tutorial


  #main-util-appstore
    width 375px
    float right

    .text
      width 223px

    .icon
      @extend .sp-main
      @extend .sp-appstore
