#form_additem
  @extends .box

  position absolute
  top 27px
  left 249px
  z-index 10

  width 440px

  p
    margin 0

  a
    color #FFF
    text-decoration none

  .fieldset
    padding 21px 0 0

  #price,
  #duration
    width 85px

  .radio-content
    float left
    width 32%
