#categories
  @extends .box

  position absolute
  top 77px
  left 249px
  z-index 10

  p
    margin 0

  a
    color #FFF
    text-decoration none

  li
    font-size 11px
    margin 0
    padding 0 10px 0 0

  .columns
    clearfix()
    padding 12px 0 0

  .column
    float left
    width 123px
    margin 0

  .selected
    background transparent url(../images/site/category-selected.png) no-repeat 0 center
    padding-left 14px

  .lt-ie8 &.title
    font-size 16px
  
#form_search
  background transparent url(../images/site/search-bg.png) no-repeat 0 0
  margin 13px 0 21px
  width 344px
  height 32px
  position relative

  .input
    background none
    border none
    padding 0
    margin 0
    width 235px
    height 32px
    line-height 32px

    position absolute
    top 0
    left 30px

    font-size 12px
    outline none

  .button
    padding 0
    margin 0
    background none
    border none
    display block
    text-indent -9999em

    width 79px
    height 32px

    position absolute
    top 0
    right 0
