.form-icons{ background:url("form-icons.png") top left no-repeat; }
.sp-form-file-1-btn{ width:74px; height:24px; background-position:-10px -10px; }
.sp-form-btn-save{ width:66px; height:22px; background-position:-10px -44px; }
.sp-form-btn-clear{ width:66px; height:22px; background-position:-10px -76px; }
.sp-form-select-1-normal{ width:17px; height:17px; background-position:-10px -108px; }
.sp-form-select-1-active{ width:17px; height:17px; background-position:-37px -108px; }
.sp-form-radio-1-check{ width:16px; height:16px; background-position:-64px -108px; }
.sp-form-radio-1-error{ width:16px; height:16px; background-position:-10px -135px; }
.sp-form-radio-1-normal{ width:16px; height:16px; background-position:-36px -135px; }
