{% macro input_multiple(name, id, type, label, value, end_label, cls, attrs, input) -%}
<div class="group">
  {% if label %}
  <label for="{{ id|default(name) }}">{{ label }}</label>
  {% endif %}

  <div class="input-multiple-content input-block {{- cls -}}">
    <div id="{{ id|default(name) }}">
      <div class="input-multiple-item">
        <input style=" margin: 0 10px 0 0" class="input-file" type="{{ type|default('text') }}" name="{{ name }}" value="{{- value -}}" {{ attrs }} />
        <a href="#" style="display: none" class="input-remove">Quitar campo</a>
      </div>
    </div>

    {% if end_label %}
    <label for="{{ id|default(name) }}" style="clear: both; display: block;">{{ end_label }}</label>
    {% endif %}

    <a href="#" rel="{{ id|default(name) }}" style="margin: 10px 0 0" class="input-add ">
      Agregar nuevo campo
    </a>
  </div>
</div>
{%- endmacro %}
