{% macro pagination(pagination, base_url, page_url='?page=', query='') %}
{% if query %}
  {% set p = 'page=%s' % pagination.current_page %}
  {% set q = query|replace('%s&' % p,'') %}
  {% set q = q|replace(p,'') %}
  {% if q %}
    {% set _query = '&%s' % q %}
  {% endif %}
{% endif %}

<ul class="pagination">
  {% if pagination.current_page > 1 %}
  <li>
    <a href="{{ base_url }}{{ page_url }}{{ pagination.current_page - 1 }}{{ _query }}" class="prev">&laquo; anterior</a>
  </li>
  {% else %}
  <li class="unavailable">
    <a>&laquo; anterior</a>
  </li>
  {% endif %}

  {% for page in pagination.pages %}
    {% if page == pagination.current_page %}
    <li class="current">
      <a>{{ page }}</a>
    </li>
    {% else %}
    <li>
      <a href="{{ base_url }}{{ page_url }}{{ page }}{{ _query }}">{{ page }}</a>
    </li>
    {% endif %}
  </li>
  {% endfor %}

  {% if pagination.current_page < pagination.pages[pagination.pages|length - 1] %}
  <li>
    <a class="next" href="{{ base_url }}{{ page_url }}{{ pagination.current_page + 1 }}{{ _query }}">siguiente &raquo;</a>
  </li>
  {% else %}
  <li class="unavailable">
    <a>siguiente &raquo;</a>
  </li>
  {% endif %}
  </li>
</ul>
{% endmacro %}

