{% extends "site/layout.html" %}

{% block content %}
      {% if status_code %}<span style="color:red">
        {% if status_code == 1 %}
        Fill all data
        {% elif status_code == 2 %}
        invalid email o password
        {% endif %}</span>{% endif %}
      <h2>User Login </h2>
      <form method="post">
        <table id="table-login">
          <tr>
            <td class="label">email</td>
            <td> x  
              <input type="text" name="email" value="" class="login-itext"/>
            </td>
          </tr>
          <tr>
            <td class="label">password</td>
            <td> 
              <input type="password" name="password" value="" class="login-itext"/>
            </td>
          </tr>
          <tr>
            <td> </td>
            <td> 
              <input type="submit"/>
            </td>
          </tr>
          <tr>
            <td> </td>
            <td> <a href="login/facebook">Login with Facebook</a></td>
          </tr>
        </table>
      </form>
{% endblock %}
