{% extends "layout.html" %}


{% block content %}

<h4> Profile</h4>

<form method="post" enctype="multipart/form-data">
    <table width="30%">

        <tr>
            <td><img src="{{ handler.static_url('images/site/product-user2.png') }}"/></td>
            <td><h2>User name</h2></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>email@dominio.html<td/>
        </tr>
        <tr>
            <td>Name</td>
            <td>nombre de usuario<td/>
        </tr>
        <tr>
            <td>Lastname</td>
            <td>Apellidos<td/>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Masculino</td>
        </tr>

        <tr>
            <td>Image</td>
            <td><input type='file' name='filename'/><td/>
        </tr>
        <tr>
            <td></td>
            <td valign="right" align="right"><img src="{{ product.photo }}" style="width:360px;350px;"></td>
        </tr>
    </table>
</form>

{% endblock %}
