
    {% if status_code %}

        {% if status_code == 1 %}
            no password
        {% elif status_code == 2 %}
            No save
        {% else %}
            save ok
        {% endif %}
        
    {% endif %}


<h2> Set Password</h2>

<form method="post">
    <input type="password" name="password">
    <input type="submit">
</form>
