<html>
<head>
<title>ADMIN VUULO<</title>
</head>

    <H2> Add Category </H2>

    <body>
        <form method="post">
                <table>
                    {% for field in form %}
                        <tr>
                            <td>{{ field.label }}</td>
                            <td>{{ field }}</td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td><input type="submit"></td>
                    </tr>

                </table>
        </form>
    </body>
</html>
