<html>
    <head>
        <title></title>
        <meta charset="utf-8">

    <style type="text/css">
    <style type="text/css">
        th {
            font-size : 77%;
            font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
            color: #6D929B;
            border-right: 1px solid #C1DAD7;
            border-bottom: 1px solid #C1DAD7;
            border-top: 1px solid #C1DAD7;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: left;
            padding: 6px 6px 6px 12px;
            background: #CAE8EA;
        }

        th.nobg {
            border-top: 0;
            border-left: 0;
            border-right: 1px solid #C1DAD7;
            background: none;
        }

        th.spec {	
            border-left: 1px solid #C1DAD7;
            border-top: 0;
            background: #fff url(images/bullet1.gif) no-repeat;
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
        }

        th.specalt {
            border-left: 1px solid #C1DAD7;
            border-top: 0;
            background: #f5fafa url(images/bullet2.gif) no-repeat;
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
            color: #B4AA9D;
        }

        td {
            font-size : 70%;
            border-right: 1px solid #C1DAD7;
            border-bottom: 1px solid #C1DAD7;
            background: #fff;
            padding: 6px 6px 6px 12px;
            color: #6D929B;
        }


        td.alt {
            background: #F5FAFA;
            color: #B4AA9D;
        }
    </style>

<form>





<table width="100%" border="1">
    <tr>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong>title</strong></td>
        <td><strong>created_at</strong></td>
        <td><strong>last_modified_at</strong></td>
        <td><strong>status</strong></td>
        <td><strong>tot_products</strong></td>
        <td><strong>tot_products_active</strong></td>
        <td><strong>tot_products_inactive</strong></td>
        <td><strong>tot_products_have</strong></td>
        <td><strong>tot_products_want</strong></td>
    </tr>

    {% for x in items %}

    <tr>
        <td><a href="category/delete?id={{ x.slug }}">[Delete]</a></td>
        <td><a href="category/edit/{{ x.slug }}">[Edit]</a></td>
        <td>{{ x.title }}</td>
        <td>{{ x.created_at }}</td>
        <td>{{ x.last_modified_at }}</td>
        <td>{{ x.status }}</td>
        <td>{{ x.total_products }}</td>
        <td>{{ x.total_products_active }}</td>
        <td>{{ x.total_products_inactive }}</td>
        <td>{{ x.total_products_have }}</td>
        <td>{{ x.total_products_want }}</td>
    </tr>

    {% endfor %}
</table>

{% for x in pages %}
<a href="?page={{ x }}&status={{ status }}"> {{ x }}</a> |

{% endfor %}

</body>
</html>
