<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <script type="text/javascript">

            function delete_items()
{
    alert('x')
                form = document.forms[0]
                form.method = "post"
                form.submit()
            }

            </script>

    <style type="text/css">
    <style type="text/css">
        th {
            font-size : 77%;
            font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
            color: #6D929B;
            border-right: 1px solid #C1DAD7;
            border-bottom: 1px solid #C1DAD7;
            border-top: 1px solid #C1DAD7;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: left;
            padding: 6px 6px 6px 12px;
            background: #CAE8EA;
        }

        th.nobg {
            border-top: 0;
            border-left: 0;
            border-right: 1px solid #C1DAD7;
            background: none;
        }

        th.spec {	
            border-left: 1px solid #C1DAD7;
            border-top: 0;
            background: #fff url(images/bullet1.gif) no-repeat;
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
        }

        th.specalt {
            border-left: 1px solid #C1DAD7;
            border-top: 0;
            background: #f5fafa url(images/bullet2.gif) no-repeat;
            font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica,
            sans-serif;
            color: #B4AA9D;
        }

        td {
            font-size : 70%;
            border-right: 1px solid #C1DAD7;
            border-bottom: 1px solid #C1DAD7;
            background: #fff;
            padding: 6px 6px 6px 12px;
            color: #6D929B;
        }


        td.alt {
            background: #F5FAFA;
            color: #B4AA9D;
        }
    </style>

<form>

    {{ status }}
Status:<select name="status">
    <option value="">[All]</option>
    <option value="active" {% if status == 'active' %}selected{% endif %} >active</option>
    <option value="inactive" {% if status == 'inactive' %}selected{% endif %} >inactive</option>
</select>

<input type="submit">


<input type="button" value="delete items" onclick="document.forms[0].method='post';document.forms[0].submit();">

<br / >
<br / >

<table width="100%" border="1">
    <tr>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong>id</strong></td>
        <td><strong>slug</strong></td>
        <td><strong>title</strong></td>
        <td><strong>description</strong></td>
        <td><strong>cost</strong></td>
        <td><strong>will_travel</strong></td>
        <td><strong>allow_retailers</strong></td>
        <td><strong>allow_charities</strong></td>
        <td><strong>donate_now</strong></td>
        <td><strong>status</strong></td>
        <td><strong>created_at</strong></td>
        <td><strong>last_modified_at</strong></td>
        <td><strong>published_at</strong></td>
        <td><strong>expires_at</strong></td>
        <td><strong>type</strong></td>
        <td><strong>user</strong></td>
        <td><strong>categories</strong></td>
        <td><strong>location</strong></td>
        <td><strong>audience</strong></td>
        <td><strong>is_upload_thumbs</strong></td>
    </tr>

    {% for x in items %}

    <tr>
        <td><input type="checkbox" name="delete_items" value="{{ x.id }}">
        <td><a href="product/delete?id={{ x.id }}">[Delete]</a></td>
        <td><a href="product/edit/{{ x.id }}">[Edit]</a></td>
        <td>{{ x.id }}</td>
        <td>{{ x.slug }}</td>
        <td>{{ x.title }}</td>
        <td>{{ x.description }}</td>
        <td>{{ x.cost }}</td>
        <td>{{ x.will_travel }}</td>
        <td>{{ x.allow_retailers }}</td>
        <td>{{ x.allow_charities }}</td>
        <td>{{ x.donate_now }}</td>
        <td>{{ x.status }}</td>
        <td>{{ x.created_at_f }}</td>
        <td>{{ x.last_modified_at }}</td>
        <td>{{ x.published_at }}</td>
        <td>{{ x.expires_at }}</td>
        <td>{{ x.type }}</td>
        <td>{{ x.user }}</td>
        <td>{{ x.categories }}</td>
        <td>{{ x.location }}</td>
        <td>{{ x.audience }}</td>
        <td>{{ x.is_upload_thumbs }}</td>
    </tr>

    {% endfor %}
</table>

{% for x in pages %}
<a href="?page={{ x }}&status={{ status }}"> {{ x }}</a> |

{% endfor %}

</form>
</body>
</html>
