
{% if status_code %}

    <span style="color:red">
    {% if status_code == 1 %}
        Fill all data
    {% elif status_code == 2 %}
        invalid email o password
    {% endif %}
    </span>

{% endif %}


<h2>User Login</h2>

<form method="post">

    <table>
        <tr>
            <td>email</td>
            <td><input type='text' name='email' value='' /><td/>
        </tr>
        <tr>
            <td>password</td>
            <td><input type='password' name='password' value='' /><td/>
        </tr>
        <tr>
            <td></td>
            <td><input type='submit'><td/>
        </tr>
</form>
