

{% set product = product|default('') %}
{% set action = action|default %}

{% if status_code == 0 %}
    <span style="color:red">update ok</span>
{% endif  %}

{% if product == '' %}
    {% set _title = '' %}
{% else %}
    {% set _title = product.title %}
    {% endif %}


{% if status_code %}
<span style="color:red">
    {% if status_code == 1 %}
        Fill all data
    {% elif status_code == 2 %}
        Pusblished date es invalid
    {% elif status_code == 3 %}
        Choose image
    {% elif status_code == 4 %}
        Choose at last one category
    {% elif status_code == 5 %}
        Failed to save
        {% endif %}
</div>
{% endif %}

<form method="post" enctype="multipart/form-data">
    <h2> {% if action == 'edit' %} Edit Product {% else %} Add Product {% endif %}  </h2>


    <table border="0" width="100%">
        <tr>
            <td>

    <table width="100%">

        <tr>
            <td>Token</td>
            <td><input name='token' size="60" /><td/>
        </tr>

        {% if action == 'edit' %}
        <tr>
            <td>Categories</td>
            <td><font size="1">{% set index=0 %}
                {% for x in categories %}{% set index= index +1 %}
                <input type="checkbox" name="categories" value="{{ x.slug }}" {% if x.checked == True %}checked{% endif %} >{{ x.title }}&nbsp;&nbsp;&nbsp;
                {% if index%4==0 %}<br />{% endif %}
                {% endfor %}
                </font><td/>
        </tr>
        {% endif %}

        <tr>
            <td>Title</td>
            <td><input size="47" type='text' name='title' value='{{ _title }}' /><td/>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea cols="35" rows="5" name='description'>{{ product.description }}</textarea><td/>
        </tr>
        <tr>
            <td>How much?</td>
            <td><input size="4" type='text' name='cost' value='{{ product.cost|default(0) }}' /><td/>
        </tr>

        {% if action == 'edit' %}

        <tr>
            <td>How far will you travel?</td>
            <td><input size="4" type='text' name='will_travel' value='{{ product.will_travel|default('') }}' /><td/>
        </tr>


        <tr>
            <td>Allow retailers to see this post?</td>
            <td><input type="checkbox" value="1" name="allow_retailers" {% if product.allow_retailers == True or product.allow_retailers == 'True' %} checked {% else %} {% endif %} /></td>
        </tr>
        <tr>
            <td>Allow charities to see this post?</td>
            <td><input type="checkbox" value="1" name="allow_charities" {% if product.allow_charities == True or product.allow_charities == 'True' %} checked {% else %} {% endif %} /></td>
        </tr>
        <tr>
            <td>Donate this item now?</td>
            <td><input type="checkbox" value="1" name="donate_now" {% if product.donate_now == True or product.donate_now == 'True' %} checked {% else %} {% endif %} /><td/>
        </tr>

        <tr>
            <td>Published date</td>
            <td><input type='text' size="20" name='published_at' value='{{ product.published_at|default('') }}'/><td/>
        </tr>
        <tr>
            <td>Expires date</td>
            <td><input type='text' size="20" name='expires_at' value='{{ product.expires_at|default('') }}'/><td/>
        </tr>
        <tr>
            <td>Location</td>
            <td><input size="47" type='text' name='location' value='{{ product.location|default('') }}' /><td/>
        </tr>
        <tr>
            <td>Audience</td>
            <td>
                <select name="audience">
                {% for x in audiences %}
                    <option value="{{ x[0] }}" {% if product.audience == x[0] %} selected {% endif %} >{{ x[1] }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
        {% endif %}

        <tr>
            <td>Type</td>
            <td><input type="radio" name="type" value="have" {% if product.type == 'have' %}checked{% endif %}>&nbsp;<font size="4">have</font>&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="type" value="want" {% if product.type == 'want' %}checked{% endif %}>&nbsp;<font size="4">want</font>
            </td>
        </tr>

        <tr>
            <td>Image</td>
            <td><input type='file' name='filename'/><td/>
        </tr>
        <tr style="height:15px;">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type='submit' value="save"><td/>
        </tr>
        </table>
                </td>

        <td valign="right" align="right">
            <img src="{{ product.image }}" style="width:360px;350px;">
        </td>
        </tr>
        </table>

</form>
