<div data-index="%index%" class="imgscroll %class%">
  <div class="imgscroll-item">
    <img src="%image%"/>

    <div class="product-detail">
      <div class="inner">
        <h2><a href="{{ handler.reverse_url('product', '%slug%') }}" class="title js-show-detail">%title%</a></h2>
        <p class="category">Category: %categories%</p>
        <p class="price">$%pay%</p>

        <div class="expire">
          <p><strong>Expires:</strong></p>
          <p>%expire%</p>
        </div>

        <a class="info js-show-detail" href="{{ handler.reverse_url('product', '%slug%') }}">Info</a>

        <a rel="%id%" class="btn %classbtn%" href="{{handler.reverse_url('user_have_products')}}?id=%id%" ></a>
      </div>
    </div>

  </div>
</div>
