{% extends "site/layout.html" %}

{% block javascript %}
  <script id="product_item" type="text/html">
    {% include 'site/home/_product_item.html' %}
  </script>

  <script type="text/javascript">
    {% include 'site/home/_product_data.html' %}
  </script>

  <script src="{{ handler.static_url('js/libs/jquery.js') }}" type="text/javascript"></script>
  <script src="{{ handler.static_url('js/libs/jqueryui.js') }}" type="text/javascript"></script>
  <script src="{{ handler.static_url('js/libs/jquery.validator.js') }}" type="text/javascript"></script>
  <script src="{{ handler.static_url('js/libs/mobiscroll-2.0.custom.min.js') }}" type="text/javascript"></script>
  <script src="{{ handler.static_url('js/site.core.js') }}" type="text/javascript"></script>
  <script src="{{ handler.static_url('js/site.home.js') }}" type="text/javascript"></script>
  <script src="{{ handler.static_url('js/site.login.js') }}" type="text/javascript"></script>

{% endblock %}
