{% extends "site/home/base.html" %}

{% block content %}
<div id="home">
  <div id="product_detail"></div>

  <div id="match-line-guide">
    <div class="icon"></div>
  </div>

  <div id="want_group" class="wheel">
    <div class="filters">
      <a class="label js-showme" href="#want_filter">
        <span class="text">users want</span>
        <span class="icon"></span>
      </a>

      <ul id="want_filter" class="filter">
        <li data-href="{{ handler.reverse_url('search') }}?type=want" class="item js-filter-item active"><span>users want</span></li>
        <li class="item js-filter-item"><span>users in your group want</span></li>
        <li data-href="{{ handler.reverse_url('search') }}?type=want&amp;allow_charities=1" class="item js-filter-item"><span>charities want</span></li>
        <li data-href="{{ handler.reverse_url('search') }}?type=want&amp;user=1" class="item js-filter-item"><span>I want</span></li>
      </ul>
    </div>

    <div class="box-options">
      <div class="loader"></div>
      <input id="want_product" name="want" style="display:none"/>
    </div>
  </div>

  <div id="have_group" class="wheel">
    <div class="filters">
      <a class="label js-showme" href="#have_filter">
        <span class="text">users have</span>
        <span class="icon"></span>
      </a>

      <ul id="have_filter" class="filter">
        <li data-href="{{ handler.reverse_url('search') }}?type=have" class="item js-filter-item active"><span>users have</span></li>
        <li class="item js-filter-item"><span>users in your group have</span></li>
        <li data-href="{{ handler.reverse_url('search') }}?type=have&amp;allow_charities=1" class="item js-filter-item"><span>charities have</span></li>
        <li data-href="{{ handler.reverse_url('search') }}?type=have&amp;user=1" class="item js-filter-item"><span>I have</span></li>
      </ul>
    </div>

  
    <div class="box-options">
      <div class="loader"></div>
      <input id="have_product" name="have" style="display:none"/>
    </div>
  </div>
</div>
{% endblock %}

